

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.muscle-side {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.health-data-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}
